
/*

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;

*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, p {
    margin-top: 0;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.title-section {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    line-height: 1;
    margin-bottom: 20px;
}

.subtitle-section {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
    color: #777777;
    line-height: 1;
    margin-bottom: 80px;
}

/* partners */

.partners {
    margin-bottom: 60px;
}

.list_partners {
    display: flex;
    justify-content: center;
}

.list_partners .list__item:not(:last-child) {
    margin-right: 40px;
}

/* partners end */
.about-title-section {
    display: flex;
    flex-direction: column;
}

.about-item {
    display: flex;
    margin-bottom: 80px;
}

.about-item:nth-child(even) .about-item-img {
    order: -1;
}

.about-item-text-title {
    display: flex;
    flex-direction: column;
}
